<%- include('../layouts/header', {title: 'TODO-List' }) %>

    <%- include('../layouts/menu', {title: 'TODO-List' }) %>

        <section class="section hero is-link is-fullheight-with-navbar">
            <div class="hero-body has-text-centered">
                <div class="container">
                    <h1 class="title">
                        Produtos
                    </h1>
                    <h2 class="subtitle">
                        Controle de estoque
                    </h2>
                    <a href="/checklists" class="button is-light is-medium">Ir para estoque</a>
                </div>
            </div>
        </section>

        <%- include('../layouts/footer') %>